
footer {
  background-color: #000000; 
  color: #fff; 
  padding: 20px 0;
}


.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-div {
  margin: 0 10px; 
}

.footer-div p {
  color: #fff; 
  text-decoration: none; 
}


#footer {
  text-align: center;
  margin-top: 20px; 
}
.footer-section{
  margin-top: 10px;
}



